{% extends 'main/base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/form.css' %}">
{% endblock %}

{% block title %}
Add Review
{% endblock %}


{% block content %}
<div class="main-container">
    <section class="posts">
        <p class="text-auth">Отзыв к {{ target_user.username }}</p>
        <form class="edit-profile-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <p>
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}
                <div class="form-error">{{ field.errors }}</div>
            </p>
            {% endfor %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            <button type="submit" class="btn btn-primary">Оставить</button>
        </form>
    </section>
</div>
{% endblock %}