{% extends 'main/base.html' %}

{% block title %}
MainPage
{% endblock %}

{% block content %}
<main>
      <div class="main-container">
        <aside class="categories">
          <h3>Категории</h3>
          <ul>
              <li><a href="#">Программирование</a></li>
              <li><a href="#">Дизайн</a></li>
              <li><a href="#">Музыка</a></li>
              <li><a href="#">Кулинария</a></li>
          </ul>
      </aside>
        <section class="posts">
            {% for post in posts %}
            <article class="post">
              <div class="user-info">
                <img src="{{ author.avatar.url }}" alt="Аватар">
                <p class="username">{{ author.username }}</p>
              </div>
              <div class="post-content">
                  <p>Предлогает: {{ post.offered_skill }}. Запрашивает: {{ post.wanted_skill }}</p>
                  <button class="read-more">Кинуть заявку</button>
              </div>
            </article>
            {% endfor %}
        </section>
    </div>
    </section>
    </main>
{% endblock %}