{% extends 'main/base.html' %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<main>
      <div class="profile-container">
            <!-- Блок профиля -->
          {% if author.username == user.username %}
            <div class="profile-header">
                <a href="{% url 'users:profile_edit' user.username %}" class="profile-link">
                    {% if user.avatar %}
                <img src="{{ author.avatar.url }}" alt="Аватар" class="profile-avatar"></a>
                {% endif %}
                <div class="profile-info">
                    <h2>{{ author.first_name }} {{ author.last_name }}</h2>
                    <p class="age">Возраст: {{ author.age }}<br>Расположение: {{ author.location }}</p>
                    <p class="description">{{ author.description }}</p>
                </div>
            </div>
          {% else %}
          <div class="profile-header">
                <img src="{{ author.avatar.url }}" alt="Аватар" class="profile-avatar">
                <div class="profile-info">
                    <h2>{{ author.first_name }} {{ author.last_name }}</h2>
                    <p class="age">Возраст: {{ author.age }}<br>Расположение: {{ author.location }}</p>
                    <p class="description">{{ author.description }}</p>
                </div>
            </div>
          {% endif %}
            <div class="user-skills">
                <h3>Навыки</h3>
                <ul>
                     {% for skill in author.skills.all %}
                     <li>{{ skill.skill }}: {{ skill.level }}
                         <form action="{% url 'delete_skill' skill.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">удалить</button>
                         </form></li>
                     {% empty %}
                         <li>Нет навыков</li>
                     {% endfor %}
                    <a href="{% url 'add_skill_profile' %}">Добавить навык</a>
                 </ul>
            </div>

            <!-- Блок отзывов -->
            <div class="profile-posts">
                <h3>Посты</h3>

                <div class="post">
                    <div class="user-info">
                        <img src="media/ром.jpg" alt="Аватар">
                        <p class="username">Рома</p>
                    </div>
                    <div class="post-content">
                        <p>Научу Питоне взамен на C#</p>
                        <button class="read-more">Кинуть заявку</button>
                    </div>
                </div>

                <div class="post">
                    <div class="user-info">
                        <img src="media/ром.jpg" alt="Аватар">
                        <p class="username">Рома</p>
                    </div>
                    <div class="post-content">
                        <p>Научу игре на Pudg взамен на игре на Slark</p>
                        <button class="read-more">Кинуть заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}