{% extends 'main/base.html' %}


{% block title %}
Chat
{% endblock %}


{% block content %}
<div class="profile-container">
    <div class="profile-posts">
    <h1>Chat Room</h1>
    <div id="chat">
        {% for message in messages %}
            <p><strong>{{ message.sender.username }}:</strong> {{ message.content }}</p>
        {% endfor %}
    </div>
    <form id="message-form">
        {% csrf_token %}
        <textarea id="message-content" name="content" rows="4" cols="50"></textarea>
        <button type="submit">Send</button>
    </form>
    </div>
</div>
{% endblock %}


{% block extra_js %}
    <script>
        document.getElementById('message-form').onsubmit = function(e) {
            e.preventDefault();
            fetch("{% url 'chats:send_message' chat.id %}", {
                method: 'POST',
                body: new FormData(document.getElementById('message-form')),
                headers: {
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            }).then(response => response.json())
              .then(data => {
                  if (data.status === 'ok') {
                      location.reload();
                  }
              });
        };
    </script>
{% endblock %}